<a href="https://colab.research.google.com/github/lnwprameza007/pythion_dataviz2024/blob/main/Data_Viz_2024_Exam_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Read data

###Import function

In [1]:
import pandas as pd

In [2]:
import os

###Connect to Google drive

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

###Read Csv file

In [19]:
waterq = pd.read_csv('/content/drive/My Drive/Data_viz_2024/tidy.csv')

In [20]:
waterq

,month,station,rep.,Chlo_a,Chlo_b,total_Caro,Temp.,pH,EC,Salinity,TDS,DO,Nitrate,Ammonium,Phosphate,No.Algal_cell,@dropdown
0,July_2018,1,1,0.095,0.012,0.027,30.2,5.54,622.7,330.3,545.2,4.37,0.173,0.053,0.013,1.635830e+05,NaN
1,July_2018,2,1,0.038,0.059,0.021,29.1,6.24,580.7,307.0,488.2,6.55,0.154,0.145,0.006,1.166667e+06,NaN
2,July_2018,3,1,0.044,0.089,0.023,29.7,5.52,547.1,289.4,462.2,5.67,0.153,0.154,0.014,2.970000e+06,NaN
3,July_2018,4,1,0.040,0.065,0.017,29.2,5.92,473.6,249.2,397.9,0.69,0.157,0.387,0.057,5.066670e+05,NaN
4,July_2018,5,1,0.045,0.062,0.023,29.5,5.79,685.5,366.0,581.2,4.46,0.204,0.043,0.007,1.265000e+06,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,July_2019,2,3,0.031,0.015,0.018,31.2,7.74,580.5,309.2,517.0,6.31,0.132,0.031,0.000,2.665833e+05,NaN
194,July_2019,3,3,0.024,0.020,0.016,29.7,7.50,513.0,272.6,436.0,3.00,0.230,0.059,0.000,6.428333e+05,NaN
195,July_2019,4,3,0.016,0.010,0.009,31.5,7.51,550.9,289.8,498.4,4.02,0.124,0.136,0.000,2.945000e+05,NaN
196,July_2019,5,3,0.015,0.012,0.010,28.5,7.31,540.6,287.4,443.4,1.53,0.110,0.056,0.000,3.470833e+05,NaN
197,July_2019,6,3,0.009,0.011,0.006,31.5,7.71,544.7,288.2,493.8,6.32,0.165,0.106,0.000,3.692500e+05,NaN

In [21]:
waterq['month'] = waterq['month'].str.split('_')

In [22]:
waterq.head()

,month,station,rep.,Chlo_a,Chlo_b,total_Caro,Temp.,pH,EC,Salinity,TDS,DO,Nitrate,Ammonium,Phosphate,No.Algal_cell,@dropdown
0,"[July, 2018]",1,1,0.095,0.012,0.027,30.2,5.54,622.7,330.3,545.2,4.37,0.173,0.053,0.013,163583.0,NaN
1,"[July, 2018]",2,1,0.038,0.059,0.021,29.1,6.24,580.7,307.0,488.2,6.55,0.154,0.145,0.006,1166667.0,NaN
2,"[July, 2018]",3,1,0.044,0.089,0.023,29.7,5.52,547.1,289.4,462.2,5.67,0.153,0.154,0.014,2970000.0,NaN
3,"[July, 2018]",4,1,0.040,0.065,0.017,29.2,5.92,473.6,249.2,397.9,0.69,0.157,0.387,0.057,506667.0,NaN
4,"[July, 2018]",5,1,0.045,0.062,0.023,29.5,5.79,685.5,366.0,581.2,4.46,0.204,0.043,0.007,1265000.0,NaN

In [28]:
waterq_2018 = waterq[waterq['month'].apply(lambda x: x[1] == '2018')]
waterq_2019 = waterq[waterq['month'].apply(lambda x: x[1] == '2019')]

mean_chlo_2018 = waterq_2018.groupby('station')['Chlo_a'].mean()
mean_chlo_2019 = waterq_2019.groupby('station')['Chlo_a'].mean()


diff = mean_chlo_2019 - mean_chlo_2018

print(diff)

station
1   -0.034333
2   -0.020356
3   -0.030333
4   -0.025100
5   -0.023378
6   -0.028278
Name: Chlo_a, dtype: float64

In [25]:
water = pd.read_csv('/content/drive/My Drive/Data_viz_2024/tidy.csv')

In [27]:
mean_chlo = water.groupby(['month', 'station'])['Chlo_b'].mean().unstack()
print(mean_chlo)

station           1         2         3         4         5         6
month
Apr_2019   0.051333  0.019333  0.031000  0.020333  0.027333  0.025667
Aug_2018   0.075667  0.065333  0.065333  0.061333  0.060000  0.063000
Dec_2018   0.069667  0.064333  0.080667  0.062000  0.070333  0.065667
Jan_2019   0.022667  0.015000  0.017667  0.012000  0.009667  0.014000
July_2018  0.046667  0.062667  0.073333  0.061333  0.064333  0.056000
July_2019  0.014667  0.013667  0.017333  0.009333  0.011000  0.010333
June_2019  0.020667  0.013333  0.013333  0.013667  0.014000  0.008667
May_2019   0.015667  0.028667  0.016000  0.015667  0.017000  0.023667
Nov_2018   0.076000  0.064667  0.098000  0.070667  0.064000  0.073333
Oct_2018   0.131667  0.122667  0.106333  0.091000  0.082333  0.079333
Sep_2018   0.064000  0.074667  0.076667  0.064667  0.061000  0.061667