<a href="https://colab.research.google.com/github/lnwprameza007/pythion_dataviz2024/blob/main/Function_Loop_Condition_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน


backtick (`) ==> กด ~ ค้าง, alt - 9>6 (full keyboard with number)

tilde (~)

curly bracket ({ })

square bracket ([ ])

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

เราใช้เว้นวรรค์เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():
    print('Theerapat')

In [ ]:
print_myname()

Theerapat

In [ ]:
def print_name(surname,ID,name): #ตัวอย่างฟังก์ชันที่มี input หลายตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_name(surname='Petchdong',name='Theerapat',ID='653020209-3')

'ชื่อ Theerapat นามสกุล Petchdong รหัส 653020209-3'

In [ ]:
print(print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2'))

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
out_print_name1 = print_name(name='theerapat',surname='Petchdong',ID='653020209-3')

ชื่อ theerapat นามสกุล Petchdong รหัส 653020209-3

In [ ]:
out_printname2 = print_name(name='theerapat',surname='Petchdong',ID='653020209-3')
print(out_printname2)

ชื่อ theerapat นามสกุล Petchdong รหัส 653020209-3
None

In [ ]:
print(out_printname2)

None

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_name2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='A'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

##Quiz 3 เขียน function ที่รับ input 1 ตัว ตาม Format hh1:mm1:ss1-hh2:mm2:ss2 และคำนวณหา ช่วงเวลาเป็นช่วงเวลาเป็นวินาที ที่ห่างกันระหว่าง t1 และ t2

In [ ]:
timecal('08:00:00','10:00:00')

7200

In [ ]:
timedif('11:11:11')

40271

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = ',') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / ,h -> / ,a -> / ,n -> / ,a -> / ,p -> / ,o -> / ,n -> / ,g -> / ,

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print(name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
2  x  11  =  22
2  x  12  =  24
the inner loop is end
now name1 = 3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
3  x  11  =  33
3  x  12  =  36
the inner loop is end
now name1 = 4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44
4  x  12  =  48
the inner loop is end

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['พี่บูม','ดายน์','แตงโม','ฝน','พี่เจ็ท','น้องแคมป์']

In [ ]:
print_feelings('เจมส์',list_friends)

เจมส์ คิดถึง พี่บูม
เจมส์ คิดถึง ดายน์
เจมส์ คิดถึง แตงโม
เจมส์ คิดถึง ฝน
เจมส์ คิดถึง พี่เจ็ท
เจมส์ คิดถึง น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

## Dictionary(Data Structure)
โครงสร้างข้อมูลที่จัดเก็บข้อมูล โดยการอ้างอิงโดย text
วงเล็บ ```{``````}``` Curly brankets

In [ ]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA']

[1, 2, 3]

In [ ]:
Ex_dict_A['memberA'][1]

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [ ]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [ ]:
name_grade['ปนัดดา']

'A'

In [ ]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [ ]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [ ]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

## conditional คือ เงื่อนไข /ประโยคเงื่อนไข

### ชนิดตัวแปรที่เกี่ยวข้อง Boolean(True,False)

In [ ]:
condition_1 = True
condition_2 = False


##### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

In [ ]:
for name1 in list_friends :
    for name2 in list_friends :
            print(name1,'รัก',name2)

พี่บูม รัก พี่บูม
พี่บูม รัก ดายน์
พี่บูม รัก แตงโม
พี่บูม รัก ฝน
พี่บูม รัก พี่เจ็ท
พี่บูม รัก น้องแคมป์
ดายน์ รัก พี่บูม
ดายน์ รัก ดายน์
ดายน์ รัก แตงโม
ดายน์ รัก ฝน
ดายน์ รัก พี่เจ็ท
ดายน์ รัก น้องแคมป์
แตงโม รัก พี่บูม
แตงโม รัก ดายน์
แตงโม รัก แตงโม
แตงโม รัก ฝน
แตงโม รัก พี่เจ็ท
แตงโม รัก น้องแคมป์
ฝน รัก พี่บูม
ฝน รัก ดายน์
ฝน รัก แตงโม
ฝน รัก ฝน
ฝน รัก พี่เจ็ท
ฝน รัก น้องแคมป์
พี่เจ็ท รัก พี่บูม
พี่เจ็ท รัก ดายน์
พี่เจ็ท รัก แตงโม
พี่เจ็ท รัก ฝน
พี่เจ็ท รัก พี่เจ็ท
พี่เจ็ท รัก น้องแคมป์
น้องแคมป์ รัก พี่บูม
น้องแคมป์ รัก ดายน์
น้องแคมป์ รัก แตงโม
น้องแคมป์ รัก ฝน
น้องแคมป์ รัก พี่เจ็ท
น้องแคมป์ รัก น้องแคมป์

In [ ]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 != name2: #ไม่ปริ้นชื่อคนเดียวกันซ้ำ
            print(name1,'รัก',name2)

พี่บูม รัก ดายน์
พี่บูม รัก แตงโม
พี่บูม รัก ฝน
พี่บูม รัก พี่เจ็ท
พี่บูม รัก น้องแคมป์
ดายน์ รัก พี่บูม
ดายน์ รัก แตงโม
ดายน์ รัก ฝน
ดายน์ รัก พี่เจ็ท
ดายน์ รัก น้องแคมป์
แตงโม รัก พี่บูม
แตงโม รัก ดายน์
แตงโม รัก ฝน
แตงโม รัก พี่เจ็ท
แตงโม รัก น้องแคมป์
ฝน รัก พี่บูม
ฝน รัก ดายน์
ฝน รัก แตงโม
ฝน รัก พี่เจ็ท
ฝน รัก น้องแคมป์
พี่เจ็ท รัก พี่บูม
พี่เจ็ท รัก ดายน์
พี่เจ็ท รัก แตงโม
พี่เจ็ท รัก ฝน
พี่เจ็ท รัก น้องแคมป์
น้องแคมป์ รัก พี่บูม
น้องแคมป์ รัก ดายน์
น้องแคมป์ รัก แตงโม
น้องแคมป์ รัก ฝน
น้องแคมป์ รัก พี่เจ็ท

In [ ]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2: #ปริ้นชื่อคนเดียวกันซ้ำ
            print(name1,'รัก',name2)

พี่บูม รัก พี่บูม
ดายน์ รัก ดายน์
แตงโม รัก แตงโม
ฝน รัก ฝน
พี่เจ็ท รัก พี่เจ็ท
น้องแคมป์ รัก น้องแคมป์

In [ ]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2:
            'do nothing'
        else:
            print(name1,'รัก',name2)

พี่บูม รัก ดายน์
พี่บูม รัก แตงโม
พี่บูม รัก ฝน
พี่บูม รัก พี่เจ็ท
พี่บูม รัก น้องแคมป์
ดายน์ รัก พี่บูม
ดายน์ รัก แตงโม
ดายน์ รัก ฝน
ดายน์ รัก พี่เจ็ท
ดายน์ รัก น้องแคมป์
แตงโม รัก พี่บูม
แตงโม รัก ดายน์
แตงโม รัก ฝน
แตงโม รัก พี่เจ็ท
แตงโม รัก น้องแคมป์
ฝน รัก พี่บูม
ฝน รัก ดายน์
ฝน รัก แตงโม
ฝน รัก พี่เจ็ท
ฝน รัก น้องแคมป์
พี่เจ็ท รัก พี่บูม
พี่เจ็ท รัก ดายน์
พี่เจ็ท รัก แตงโม
พี่เจ็ท รัก ฝน
พี่เจ็ท รัก น้องแคมป์
น้องแคมป์ รัก พี่บูม
น้องแคมป์ รัก ดายน์
น้องแคมป์ รัก แตงโม
น้องแคมป์ รัก ฝน
น้องแคมป์ รัก พี่เจ็ท

#### == เท่ากับ, !=ไม่เท่า,>=มากกว่า,<=น้อยกว่า,<,>

In [ ]:
'พี่บูม' == 'พี่เจ็ท'

False

In [ ]:
'พี่บูม' != 'พี่เจ็ท'

True

## &&,||,is : Operation อื่น ๆ

In [ ]:
if (1>0)&(0>-1):
  print(True & True)

True

In [ ]:
if 'T' in 'Theerapat':
  print('T in Theerapat')

T in Theerapat

In [ ]:
def return_nothing(x):
  x += 1

In [ ]:
a = return_nothing(5)

In [ ]:
if a is None:
  print('x is null')

x is null

#### หากหลังเงื่อนไข True ถูกต้องจะทำการ print ข้อความออกมาว่า Yes

In [ ]:
if True:
    print('Yes')

Yes

In [ ]:
if False:
    print('No')

#### หากหลังเงื่อนไข False ไม่ถูกต้องจะไม่ปริ้นข้อความใดๆออกมา
#### ซึ่งจะต้องใช้เงื่อนไขนี้ จึงจะได้ปริ้นค่าเงื่อนไขนั้นออกมา ดังนี้

In [ ]:
if False:
    print('Yes')
else:
    print('No')

No

### Quiz 3.5

In [ ]:
def timedif(t2,t1 = '00:00:00'):
  t10 = t1.split(':')
  t20 = t2.split(':')
  import datetime
  t11 = datetime.datetime.strptime(t1, '%H:%M:%S')
  t22 = datetime.datetime.strptime(t2, '%H:%M:%S')
  if t20 < t10: #เมื่อเวลาเลยข้ามวัน
    from datetime import timedelta
    t22 += timedelta(days=1)
    t3 = t22 - t11
  else:
    t3 = t22 - t11
  t31 = str(t3).split(':')
  t32 = int(t31[0])*3600 + int(t31[1])*60 + int(t31[2])
  return t32

# HW2
#### วนลูปส่วนต่างเวลา t1 และ t2 ต่อไปนี้
#####

In [ ]:
def timecal(t1,t2):
  t10 = t1.split(':')
  t20 = t2.split(':')
  import datetime
  t11 = datetime.datetime.strptime(t1, '%H:%M:%S')
  t22 = datetime.datetime.strptime(t2, '%H:%M:%S')
  if t20 < t10: #เมื่อเวลาเลยข้ามวัน
    from datetime import timedelta
    t22 += timedelta(days=1)
    t3 = t22 - t11
  else:
    t3 = t22 - t11
  t31 = str(t3).split(':')
  t32 = int(t31[0])*3600 + int(t31[1])*60 + int(t31[2])
  return t32

In [1]:
quest = ['18:09:10 - 18:25:10',
'13:38:39 - 23:54:39',
'16:49:58 - 18:05:58',
'21:49:10 - 22:24:10',
'08:52:21 - 09:25:21',
'06:56:26 - 07:49:26',
'12:08:05 - 12:43:05',
'01:48:38 - 07:18:38',
'08:51:21 - 10:17:21',
'17:05:17 - 18:09:17',
'18:51:21 - 00:17:21',
'17:05:17 - 11:09:17']

def timecal(t1,t2):
  t10 = t1.split(':')
  t20 = t2.split(':')
  import datetime
  t11 = datetime.datetime.strptime(t1, '%H:%M:%S')
  t22 = datetime.datetime.strptime(t2, '%H:%M:%S')
  if t20 < t10: #เมื่อเวลาเลยข้ามวัน
    from datetime import timedelta
    t22 += timedelta(days=1)
    t3 = t22 - t11
  else:
    t3 = t22 - t11
  t31 = str(t3).split(':')
  t32 = int(t31[0])*3600 + int(t31[1])*60 + int(t31[2])
  return t32
n = len(quest)
seconds = []
for i in range(n):
    a = quest[i].split(' - ')
    b = a[0]
    c = a[1]
    print('จำนวนวินาทีของส่วนต่างเวลา ' + str(a[0]) + ' กับเวลา ' + str(a[1]) + ' คือ ' + str(timecal(b,c)) + ' วินาที')
    seconds.append(timecal(b,c))

จำนวนวินาทีของส่วนต่างเวลา 18:09:10 กับเวลา 18:25:10 คือ 960 วินาที
จำนวนวินาทีของส่วนต่างเวลา 13:38:39 กับเวลา 23:54:39 คือ 36960 วินาที
จำนวนวินาทีของส่วนต่างเวลา 16:49:58 กับเวลา 18:05:58 คือ 4560 วินาที
จำนวนวินาทีของส่วนต่างเวลา 21:49:10 กับเวลา 22:24:10 คือ 2100 วินาที
จำนวนวินาทีของส่วนต่างเวลา 08:52:21 กับเวลา 09:25:21 คือ 1980 วินาที
จำนวนวินาทีของส่วนต่างเวลา 06:56:26 กับเวลา 07:49:26 คือ 3180 วินาที
จำนวนวินาทีของส่วนต่างเวลา 12:08:05 กับเวลา 12:43:05 คือ 2100 วินาที
จำนวนวินาทีของส่วนต่างเวลา 01:48:38 กับเวลา 07:18:38 คือ 19800 วินาที
จำนวนวินาทีของส่วนต่างเวลา 08:51:21 กับเวลา 10:17:21 คือ 5160 วินาที
จำนวนวินาทีของส่วนต่างเวลา 17:05:17 กับเวลา 18:09:17 คือ 3840 วินาที
จำนวนวินาทีของส่วนต่างเวลา 18:51:21 กับเวลา 00:17:21 คือ 19560 วินาที
จำนวนวินาทีของส่วนต่างเวลา 17:05:17 กับเวลา 11:09:17 คือ 65040 วินาที

# HW3
#### ฟังก์ชันแปลงวินาทีกลับมาเป็นชั่วโมง นาที วินาที โดยไม่ใช้ฟังก์ชันช่วยเหลืออื่น ๆ ของ python ส่วนของชั่ว โมง นาที วินาทีเป็นศูนย์ไม้่ต้องแสดง

In [2]:
seconds

[960, 36960, 4560, 2100, 1980, 3180, 2100, 19800, 5160, 3840, 19560, 65040]

In [39]:
def timeconvert(sec):
  hcal = sec // 3600
  mcal = (sec % 3600) // 60
  scal = sec % 60
  if hcal != 0:
    print(hcal,end=' ชั่วโมง ')
  if mcal != 0:
    print(mcal,end=' นาที ')
  if scal != 0:
     print(scal,end=' วินาที ')
  print()

In [43]:
for i in seconds:
   timeconvert(i)

16 นาที
10 ชั่วโมง 16 นาที
1 ชั่วโมง 16 นาที
35 นาที
33 นาที
53 นาที
35 นาที
5 ชั่วโมง 30 นาที
1 ชั่วโมง 26 นาที
1 ชั่วโมง 4 นาที
5 ชั่วโมง 26 นาที
18 ชั่วโมง 4 นาที

# HW4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

In [45]:
input = [1,50,65,90,101,-5,49]

In [53]:
def grade(score):
  if score > 80:
    print('A')
  elif score > 75:
    print('B+')
  elif score > 70:
    print('B')
  elif score > 65:
    print('C+')
  elif score > 60:
    print('C')
  elif score > 55:
    print('D+')
  elif score > 50:
    print('D')
  elif score < 0 or score > 100:
    print('error')
  else:
    print('F')

In [54]:
for i in input:
  grade(i)

F
F
C
A
A
error
F